html,body {
    background: #11999e url(fotos/fondo.jpg) no-repeat fixed center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}
body{
	margin: 0 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
}
header {
    position: fixed;
    Width: 100%;
	right: 0;
	left: 0;
    display:block;
}
nav{
	display: inline-block;
	width: 100%;
}
footer {
    float: left;
    display: block;
    width: 100%;
    background-color: #11999e;
	text-align: center;
}
.progra_tit{
	text-align: center;
	font-weight: bold;
}
.progra_subt{
	text-align: left;
	font-weight: bold;
}
.progra_cont{
	text-align: left;
	font-weight: normal;
}
.linea_esp{
	font-size: 3px;
}
.area_sup_left{
	width: 15%;
	float: left;
	display: block;
	padding-top: 20px;
	background: url(fotos/logo2.png) no-repeat center top / 170px;
	background-position: center;
}

.area_sup_medd{
	width: 80%;
	float: left;
	background: #11999e;
	padding-top: 8px;
	padding-left: 10px;
}
.area_sup{
	width: 100%;
	float: left;
	background: #11999e;
}
.area_logo{
	width: 100%;
	float: left;
	text-align: center;
}
.img_tex{
	float: left;
}
.ponent_foto{
	padding: 10px 13px 7px 13px;
}
#enlace a:link, #enlace a:visited{
	display: block;
}
#enlace a:link{
	color: white;	
	font-weight: bold;
	float: right;
	padding-left: 25px;
	padding-bottom: 7px;
	text-decoration: none;
}
#enlace a:visited{
	color: white;
	text-decoration: none;
	padding-left: 25px;
}
#enlace a:hover{
	color: #f7a804;
	text-decoration: none;
	padding-left: 25px;
}
#menu_sup a:link,#menu_supe a:visited{
	display: block;
}
#menu_sup a:link{
	color: white;
	text-decoration: none;
	float: left;
	width: 113px;
	padding: 10px 5px 15px 5px;
	text-align: center;
	display: table-cell;
   vertical-align:middle;
   display: block;
}
#menu_sup a:visited{
	color: white;
	text-decoration: none;
	float: left;
}

#menu_sup a:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;
	display: block;
	background-color: #40514e;
}
.container {
  width: 100%;
  margin:0px auto;
  font-size:1em;
  font-family: "Arial", Georgia, Serif;
  font-size: 15px;
}
.titulo_gen{
	width: 100%;
	height: 100vh;
	text-align: center;
	color: white;
	font-size: 36px;
	text-shadow: 5px -5px 5px #000;
	font-weight: bold;
	background-size: 100% 100%;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}
.titulo_gen1{
	width: 80%;
	padding-left: 10%;
	text-align: center;
	color: white;
	font-size: 1em;
	text-shadow: 5px -5px 5px #000;
	font-weight: bold;
}
.titulo_gen2{
	width: 80%;
	padding-left: 10%;
	padding-top: 1.5%;
	text-align: center;
	color: white;
	font-size: 30px;
	text-shadow: 5px -5px 5px #000;
	font-weight: bold;
}
.titulo_gen3{
	width: 100%;
	padding-bottom: 5%;
	text-align: center;
	color: white;
	font-size: 24px;
	text-shadow: 5px -5px 5px #000;
	font-weight: bold;
}
.mostrar_fch{
	text-align: center;
	display:block;
	right: 10%;
}
.perfiles{
	width:225px;
	height:225px;
	text-align: center;
}
.espac_min{
	font-size: 7px;
}
.lado_a{
	display:block;
	float: left;
}
.lado_b{
	display:block;
	float: left;
}
.texto_falta{
	float: left;
	display: block;
	padding: 21px 25px 1px 25px;
}
.logos{
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}
.titulo{
	font: small-caps;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 22px;
	background: #40514e;
	color: white;
	font-weight: bold;
	text-align: center;
	border-bottom: medium solid #c0c0c0;
	border-top: medium solid #c0c0c0;
	text-shadow: 2px 2px 3px #000;
	padding: 12px 0px 10px 0px;
	-moz-box-shadow: inset 0 15px 20px #40514e;
  	-webkit-box-shadow: inset 0 15px 20px #40514e;
  	box-shadow: inset 0 15px 20px #40514e;
  	border-radius: 30px;
  	width: 40%;
  	margin-left: 30%;
}
.espacio{
	background-color: transparent;
	height: 50px;
}
.fondo0{
	width: 100%;
	text-align: center;
	height: 100vh;
}
.fondo1{
	width: 100%;
	background:rgb(80, 80, 80);
	text-align: center;
}
.fondo2{
	width: 100%;
	text-align: center;
	background: #11999e;
}
.contenido{
	padding: 15px 25px 15px 25px;
	font-size: 18px;
	font-family: "MS Serif", "New York", serif;
	color: #ffffff;
	text-align: justify;
}
.contenido2{
	padding: 5px 25px 25px 25px;
	font-size: 18px;
	font-family: "MS Serif", "New York", serif;
	text-align: justify;
	color: rgb(255, 255, 255);
}
.contenido3{
	padding: 0px 25px 5px 0px;
	font-size: 18px;
	font-family: "MS Serif", "New York", serif;
	color: #464646;
	text-align: justify;
}
.contenido_wh{
	padding: 3px 25px 15px 25px;
	margin: 3px 13px 13px 31px;
	font-size: 18px;
	font-family: "MS Serif", "New York", serif;
	color: white;
	text-align: justify;
}
.contenedor {
    position: relative;
}
.pres_1{
	width: 100%;
	float: left;
	display: block;
}
.pres_2{
	width: 40%;
	float: left;
	display: block;
}
.pres_3{
	width: 59%;
	float: right;
	display: block;
}
.imagen{
	float: left;
	margin: 0 0 0 0;
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 5px;
}
.imagen2{
	float: left;
	margin: 0 0 0 0;
	padding-left: 7%;
	width: 86%;
   height: auto;
}
.area_pon{
	width: 30%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	text-align: center;
	float: left;
	display: block;
	padding-bottom: 2%;
}
.ponent_a{
	width: 100%;
	border: thick solid #40514e;
	text-align: center;
	color: white;
	background-color: #11999e;
	display: block;
	float: left;
}
.enlaces {
color: rgb(187, 15, 15);
}
.titu_pon{
	font-family: Georgia;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 10px;
	padding-top: 10px;
}
.pie{
	background-color: #125372;
	text-align: center;
}
.text_pie{
	color: white;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 25px;
	padding-top: 15px;
}
.titutab{
	background-color: #11999e;
	text-align: center;
	font-family: Georgia;
	padding-top: 15px;
	padding-bottom: 18px;
	color: rgb(255, 255, 255);
	font-weight: bold;
}
.contetab1{
	background-color: #30e3ca;
	padding-top: 15px;
	padding-bottom: 18px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.contetab2{
	background-color: #e4f9f5;
	padding-top: 15px;
	padding-bottom: 18px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
